@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: hsl(212, 45%, 89%); 
}
#card{
    text-align: center;
    padding: 20px;
    width: 365px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-family: "Outfit";
    margin-top: 30px;
    animation: opacity .8s ease-in;
}
@keyframes opacity {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
#card h1{
    width: 280px;
    margin: 20px 20px;
    font-weight: 800;
}
#card p{
    width: 260px;
    font-size: 600;
    color: hsl(220, 15%, 55%);
    margin-bottom: 30px;
}
#qr-code{
    width: 330px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
}
footer{
    padding-top: 30px;
    font-family: "Outfit";
}
footer a{
    text-decoration: none;
    color: hsl(218, 44%, 22%);
}
@media screen and (max-width: 400px) {
    #qr-code{ 
        width: 300px;
    }
    #card{ 
        margin-top: 0px;
    }
}
@media screen and (max-width: 375px) {
    #card{
        width: 350px;
        height: 500px;
    }
}
@media screen and (max-width: 330px) {
    #card{
        width: 310px;
        height: 500px;
    }
    #qr-code{
        width: 280px;
    }
}
@media screen and (max-width: 315px) {
    #card{
        width: 290px;
        height: 460px;
    }
    #qr-code{
        width: 260px;
    }
    #card h1{
        font-size: 18px;
    }
}
